* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; //element width and height also include padding and border
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}
